<style>
  body {
    background: black;
    color: white;
    font-family: arial;
    padding: 0; margin: 0;
  }
  p {
    font-size: 12px;
    font-weight: normal;
  }
  .footer {
    background: url(http://www.bombsheltermagic.com/mail/footer.gif) no-repeat center center;
    height: 150px;
  }
  .curtain_left {
    background: url(http://www.bombsheltermagic.com/mail/curtain_left.jpg) no-repeat top left;
    width: 185px;
  }
  .curtain_right {
    background: url(http://www.bombsheltermagic.com/mail/curtain_right.jpg) no-repeat top left;
    width: 185px;
    height: 430px;
  }
  .logo {
    background: url(http://www.bombsheltermagic.com/mail/logo.gif) no-repeat top center;
    width: 260px;
    height: 130px;
  }
  table {
    border-collapse: collapse;
  }
  a {
    color: red;
  }
</style>

<table width="100%">
<tr>
  <td class="curtain_left">&nbsp;</td>
  <td align='center'>
    <div class="logo">&nbsp;</div>
    <p>Thanks for registering, and Welcome to the Adelaide Magic Convention, the friendliest Convention in Australia.</p>
     
    <p>Ray, Terry, Geoff and the Convention Team are looking forward to presenting a weekend of magic that you'll never forget.</p>
     
    <p>Don't forget to book your accommodation at The Lakes Resort on (08) 8356 4444 or for our international guests +618 8356 4444.</p>

    <p>Mention the <em>"Adelaide Magic Convention Group"</em> to get the special rates offered to those attending the convention.</p>
     
    <p>For more information download our registration form: <a href="http://bombsheltermagic.com/AMC2009_Registration.pdf">http://bombsheltermagic.com/AMC2009_Registration.pdf</a></p>
     
    <p>Your email has been registered with us and we'll send you any new information as the event gets closer</p>
     
    <p>Any suggestion, comments or questions should be directed to info@bombsheltermagic.com</p>
     
    <p><strong>Best Regards,<br/>
    The Adelaide Magic Convention Committee</strong></p>
  </td>
  <td class="curtain_right">&nbsp;</td>
</tr>
<tr><td class="footer" colspan="3">

</td></tr>
</table>
