<h1>Thank you</h1>
<br/>
<p>Thank you <%= h @registration.full_name %>. We will be in contact with you soon to confirm your registration details.</p>
<p>We look forward to see you at the <b>2009 Adelaide Magic Convention</b>!</p>
