<h1><img src="/images/magician.gif">Geoff Williams (USA)</h1>

<p>Geoff has won over two dozen magic and comedy awards, in both parlour and close-up, in the 20+ years he's been performing for corporate and family audiences. His "Miracles For Mortals" DVD set (produced by Kozmo Magic) has garnered rave reviews worldwide. The DVD single "The 'I Hate David Copperfield' Trick" reached #2 on the bestsellers list for Murphy's Magic in May 2008.</p>

<img src="/images/geoff_williams_full.jpg" align="right" style="padding: 15px;"/>

<p>He has performed and lectured in Europe, South America and throughout the U.S., including multiple engagements at the world-famous Magic Castle in Hollywood.</p>

<p>Check out the feature article he wrote regarding Eric Buss' "Spring Snake Symphony" in the October 2007 issue of MAGIC magazine.</p>

<p>A Past-President of both I.B.M. Ring # 19 and S.A.M. Assembly 136, Geoff is also a mentor for the Society of Young Magicians in the Twin Cities.</p>

<p>He is known for outrageous, quirky family-friendly comedy mixed with mind-boggling sleight of hand illusions.</p>

