<h1><img src="/images/question_icon.gif">Event Information</h1>

<p>The Magicians of Adelaide invite magicians, performers and clowns to the
friendliest magic convention in Australia. We have three great magicans
presenting their ideas on how to improve your magical performances. All
three magicians have close-up, stand-up and stage experience so we are
in for a whole weekend of great magic. Of course if you are new to magic
there will be over 100 magicians wandering around looking for an excuse
to perform or teach a trick or two to anyone interested. Young magicians
are especially welcome, what a great way to get involved with magic and
learn from the experts.</p>

<p>Those who have attended our conventions in the past know how much fun we
have together. We operate at a leisurely pace with plenty of time to
catch up with friends, have a coffee and meet new people or perhaps
learn something new from our overseas guests. The convention is fully
catered for, with excellent accomodation and facilities, so why not book
a room and live magic for the whole weekend. Remember to book early as
rooms are limited and always sell out.</p>

<p>Our gala show is always a highlight with entertainment, formal sit down
dinner and wandering magicians throughout the night.  Coffee facilities,
as well as full bar facilities, are available until the early morning.
So come prepared for fun filled days, entertaining evenings and late
night magic sessions.</p>

<p>We look forward to meeting you at the 2009 Adelaide Magic Convention.</p>

<p>You can contact us at <a href="mailto:info@bombsheltermagic.com">info@bombsheltermagic.com</a> for more information.</p>
