<h1><img src="/images/magician.gif">Ray Crowe (AUS)</h1>

<img src="/images/ray_crowe_full.jpg" align="right" style="padding: 15px;"/>
<p>Ray Crowe is described as one of Australia's leading contemporary magicians and Australia's only Unusualist. 
His innovative, fresh approach delights audiences both intimate and grand.</p>

<p>With his warm sense of humour, contemporary approach and highly skilled traditional techniques, Ray has astounded audiences around the world.</p>

<p>The popularity of Ray amongst his peers and audience is such that he was invited to become the first-ever Australian Magician to be on the now famous NBC TV Special - "Worlds Greatest Magic". 
This 4th annual TV Special was filmed before a live audience at Caesar's Palace in Las Vegas and includes what are considered to be the 20 greatest magicians in the world! The show was viewed by over 20 million people worldwide.</p>

<p>Ray was also a featured act for the toughest audience in the world - Ray received a standing ovation from 3000 magicians at the World 2003 Magic Convention.</p>

<p>He has performed on the David Letterman and Craig Ferguson shows, at Caesars Palace, and before Queen Elizabeth in 2007. Ray first appeared on the World's Greatest Magic in the late 1990s.</p>
