<h1><img src="/images/magician.gif">Terry Herbert (UK)</h1>

<img src="/images/terry_herbert_full.jpg" align="right" style="padding: 15px;"/>

<p>In addition to his renown as a Children's Entertainer Terry Herbert is one of England's foremost Comedy Cabaret Magicians and was voted as such by the famous Magic Circle in London in 1992. 
His cabaret acts are suitable for stage or floorshow presentation. He is also a brilliant performer of Close Up or Table Magic, and has material suitable for Corporate Events and Trade Exhibitions.</p>

<p>Terry Herbert has been seen on television many times both in the UK and abroad and has appeared in some of the major entertainment cities of the world including Las Vegas. 
In Monte Carlo he had the honour of personally entertaining Prince Rainier and the Royal Family of Monaco.</p>
