<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Adelaide Magic Convention :: 16th - 18th October 2009</title>
  <%= stylesheet_link_tag 'home' %>
</head>
<body>

<div id="canvas">

   <div id="stage_lower">
      <div id="stage">
      
         <div id="clubs">
            The Magicians of Adelaide<em><strong>Proudly Present...</strong></em>
         </div>
      
         <div id="large_logo"></div>
         <div id="featuring"></div>
         
         <div id="columns">
         
            <div class="column">
               <a href="/ray_crowe"><img src="/images/ray_crowe_button.gif" alt="Ray Crowe" title="Ray Crowe"/></a>
               <div class="column_content">
                  <h1><img src="/images/question_icon.gif">Event Information</h1>
                  <p>The <b>Magicians of Adelaide</b> invite magicians, performers and clowns to the <i>friendliest magic convention in Australia</i>!</p>
                  <p>We have three great magicans presenting their ideas on how to improve your magical performances. All
                  three magicians have <b>close-up, stand-up and stage experience</b> so we are
                  in for a whole weekend of great magic.</p>
                  <p>Of course if you are new to magic there will be over <b>100 magicians</b> wandering around looking for an excuse
                  to perform or teach a trick or two to anyone interested. </p>
                  <p><a href="/info">Read More...</a></p>
               </div>
            </div>
            
            <div class="column">
               <a href="/terry_herbert"><img src="/images/terry_herbert_button.gif" alt="Terry Herbert" title="Terry Herbert"/></a>
               <div class="column_content">
                  <h1><img src="/images/registration_icon.gif">Register Online</h1>
                  <p>Want to register online? Now you can using our online registration form and PayPal!</p>
                  <p>Click <a href="/registration">here</a> to register!</p>
               </div>
            </div>
            
            <div class="column">
               <a href="/geoff_williams"><img src="/images/geoff_williams_button.gif" alt="Geoff Williams" title="Geoff Williams"/></a>
               <div class="column_content">
                  <img src="/images/pdf_icon.gif" style="float: left; margin-right: 5px;"><h1 class="small">Download Registration<br/>Form</h1>
                  <p>Don't want to register online? You can print out the registration form here and post to us. You need <strong>Adobe Reader</strong> to open the file.</p>
                  <p>You can either click <a href="http://www.adobe.com/products/acrobat/readstep2.html">here</a> to download the latest version, or you can click the "Get Adobe Reader" button below.</p>
                  <p><a href="/AMC2009_Registration.pdf" target="_blank">Download Registration Form</a></p>
                  <p id="adobe_reader"><a href="http://www.adobe.com/products/acrobat/readstep2.html" target="_blank" title="Get Adobe Reader"><img src="/images/get_adobe.gif"/></a></p>
                  <p>You can contact us at <a href="mailto:info@bombsheltermagic.com">info@bombsheltermagic.com</a> for more information about the event or to register as a magic dealer.</p>
               </div>
            </div>
            
            <br style="clear: both"/>
         </div>
         
         <div id="partners">
            <h1>Presented By...</h1>
            
            <div id="partners_cols">
               <div class="partner" id="asm">
                  <img src="/images/asm.gif" alt="ASM Assemby No.2" title="ASM Assemby No.2" />
                  <h2>ASM Assemby No.2</h2>
               </div>
               <div class="partner" id="ibm">
                  <img src="/images/ibm.gif" alt="IBM Garden City Ring 148" title="IBM Garden City Ring 148" />
                  <h2>IBM Garden City Ring 148</h2>
               </div>
               
               <div class="partner" id="yams">
                  <img src="/images/yams.gif" alt="Young Adelaide Magicians Society" title="Young Adelaide Magicians Society" />
                  <h2>Young Adelaide Magicians Society</h2>
               </div>
            </div>
            
            <br style="clear: both"/>
         </div>
         
         <div id="footer">
            <div id="footer_text">
               <p>Copyright  2008-2009 Bombshelter Magic.</p>
               <p><a href="www.bombsheltermagic.com">www.bombsheltermagic.com</a></p>
            </div>
         </div>
    
      </div>
   </div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
  var pageTracker = _gat._getTracker("UA-7842827-1");
  pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
